@media screen and (max-width: 575px) {

    .advantages {
        .swiper-pagination {
            margin-top: 25px;
        }

    }

    .accordion {
        .accordion-button {
            padding: 12px 20px;
            font-size: 16px;
        }

        .accordion-body {
            padding: 0px 15px 12px 20px;
            font-size: 14px;
        }
    }

    .question {
        .row {
            --bs-gutter-x: 0;
            --bs-gutter-y: 0;
            gap: 28px;
        }
    }

    .question-form {
        padding: 40px 20px;
    }

    .question-form-title,
    .question-form-discription {
        text-align: center;
    }

    // cooperation
    .cooperation {
        .template-title {

            h3,
            .h3 {
                font-size: 16px;
            }
        }

        &-text {
            padding-right: 0;
            padding-left: 0;
            font-size: 16px;

            p {
                margin-bottom: 33px;

                &~img.m-left,
                &~img.m-right {
                    margin-top: 43px;
                }
            }

            .btn {
                width: 100%;
                display: flex;
                justify-content: space-between;
            }
        }
    }
}