@media screen and (max-width: 767px) {

    .container {
        padding-right: $container-padding-mob;
        padding-left: $container-padding-mob;
    }

    h2,
    .h2 {
        font-size: 24px;
    }

    section,
    .calculation-form {
        padding: 50px 0px 60px 0px;
    }

    .template-title {
        margin-bottom: 40px;
    }


    .calculation-form {

        .template-title {
            margin-bottom: 79px;
        }

        .form {
            padding: 52px 30px 34px;
        }

        .form-row {
            flex-direction: column;
            row-gap: 20px;
        }

        .btn {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }

    .advantages {
        .template-title {
            margin-bottom: 69px;
        }
    }

    .delivery {
        .template-title {
            margin-bottom: 56px;
        }
    }

    .services {
        .template-title {
            margin-bottom: 60px;
        }
    }

    .card {
        max-width: 335px;

        .btn-row {

            .btn {
                max-width: 138px;
                padding: 13px 9px;
            }
        }
    }

    .about {
        .container {
            flex-direction: column;
            align-items: center;
            row-gap: 25px;
        }

        .template-title {
            margin-bottom: 49px;
        }

        .column {
            max-width: initial;
        }

        &-discription {
            font-size: 16px;
            line-height: 1.495;
            text-align: justify;
            margin: 0 auto;
        }

        &-img {
            max-width: 277px;
            margin: 0 auto;
        }
    }

    .question {
        .template-title {
            margin-bottom: 52px;
        }
    }

    .cooperation {
        .template-title {
            margin-bottom: 71px;
        }

        &-text {
            text-align: justify;
        }
    }

}