@media screen and (max-width: 575px) {
	header {
		.container {
			padding-left: $container-padding-mob;
			padding-right: $container-padding-mob;
			padding-top: 18px;
			padding-bottom: 16px;
		}

		.logo {
			max-width: 126px;
		}
	}

	.btn-burger {
		margin-top: 7px;
	}
}
