@media screen and (min-width: 768px) {
    .about {
        .template-title {
            text-align: left;

            &::after {
                left: 0;
                transform: translateX(0);
            }
        }
    }
}