.about {
    .container {
        display: flex;
        align-items: flex-start;
    }

    .column {
        max-width: 50%;
        width: 100%;
    }



    &-discription {
        max-width: 550px;
        font-size: 18px;
        line-height: 1.7;
        font-weight: 300;

        p:last-child {
            margin-bottom: 0;
        }
    }

    &-img {
        max-width: 550px;
        width: 100%;
        position: relative;

        &::after {
            content: "";
            display: block;
            position: absolute;
            inset: 0;
            border-radius: 50%;
            background-color: #363A4D;
            z-index: -1;
        }

        img {
            width: 100%;
        }

    }
}