.advantages {
    .advantage {
        max-width: 263px;
        width: 100%;
        text-align: center;
        margin: 0 auto;
    }

    .advantage-img {
        width: 113px;
        height: 113px;
        border: 1px solid #6C7188;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto 22px;

        img {
            width: 93px;
            height: 93px;
            background-color: #89C249;
            border-radius: 50%;
            object-fit: scale-down;
            padding: 9px;
        }
    }

    .advantages-title {
        font-size: 18px;
        font-weight: 400;
        margin: 0;
    }
}