.cooperation {

    &-text {
        font-size: 17px;
        font-weight: 300;
        line-height: 1.565;

        p {
            margin-bottom: 40px;
        }

        img {
            max-width: 555px;
            width: 100%;
            margin: 0 auto;
            display: block;
            box-shadow: 5px 15px 40px 0 rgba(11, 24, 97, 0.32);
        }

        .m-left {
            margin-left: 45px;
        }

        .m-right {
            margin-right: 45px;
        }

        .btn {
            .icon {
                display: inline-block;
                box-shadow: none;
            }
        }
    }
}