header {
	z-index: 2;
	position: relative;

	.container {
		display: flex;
		padding-top: 25px;
		padding-bottom: 39px;
	}

	.logo {
		img {
			max-height: 49px;
		}
	}
}

.hamburger {
	height: 26px;
	margin-top: 6px;
	margin-left: auto;
}

.mobile-container {
	display: flex;
	width: 100%;

	&.show {
		display: flex;
	}

	nav {
		display: flex;
		gap: 45px;
		align-items: center;
		margin: 5px auto 0;

		a {
			color: $primary-light-color;
			text-decoration: none;

			&:hover {
				color: $primary-brand-color;
			}
		}
	}
}