///fonts///
$font-primary: "Proxima Nova";
$font-secondary: "monospace";
$font-size: 16px;

///colors///
$primary-light-color: #fff;
$primary-brand-color: #e58d35;
$primary-brand-light-color: #e7ac72;
$secondary-brand-color: #89c249;

$primary-bg-color: #282b38;
$secondary-bg-color: #363a4d;

$container-padding: 15px;
$container-padding-mob: 20px;
