<section class="acsent advantages">
    <div class="container">
        <div class="template-title">
            <h2>Почему стоит выбрать именно нас?</h2>
        </div>
        <div class="swiper" id="advantages">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="advantage">
                        <div class="advantage-img">
                            <img src="assets/img/advantage1.svg" alt="">
                        </div>
                        <h5 class="advantage-title">Таможенное оформление груза</h5>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="advantage">
                        <div class="advantage-img">
                            <img src="assets/img/advantage2.svg" alt="">
                        </div>
                        <h5 class="advantage-title">Страховка груза</h5>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="advantage">
                        <div class="advantage-img">
                            <img src="assets/img/advantage3.svg" alt="">
                        </div>
                        <h5 class="advantage-title">Проверка товара на брак</h5>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="advantage">
                        <div class="advantage-img">
                            <img src="assets/img/advantage4.svg" alt="">
                        </div>
                        <h5 class="advantage-title">Доставка в любой город Украины</h5>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="advantage">
                        <div class="advantage-img">
                            <img src="assets/img/advantage5.svg" alt="">
                        </div>
                        <h5 class="advantage-title">Консолидация на складе</h5>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="advantage">
                        <div class="advantage-img">
                            <img src="assets/img/advantage6.svg" alt="">
                        </div>
                        <h5 class="advantage-title">Ответственное хранение груза</h5>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="advantage">
                        <div class="advantage-img">
                            <img src="assets/img/advantage7.svg" alt="">
                        </div>
                        <h5 class="advantage-title">Помощь в оплате товара</h5>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="advantage">
                        <div class="advantage-img">
                            <img src="assets/img/advantage8.svg" alt="">
                        </div>
                        <h5 class="advantage-title">Упаковка, переупаковка, паллетирование груза к международной
                            перевозке</h5>
                    </div>
                </div>
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </div>
</section>