<section class="question">
    <div class="container">
        <div class="template-title">
            <h2>Часто задаваемые вопросы</h2>
        </div>
        <div class="row">
            <div class="accordion accordion-flush" id="accordionFlushExample">
                <div class="accordion-item">
                    <h6 class="accordion-header" id="flush-headingOne">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                            Как рассчитывается стоимость доставки?
                        </button>
                    </h6>
                    <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
                        data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            Да, мы предоставляем такую услугу, мы можем взять оплату товара в Китае на себя. Если у
                            вас нет валютного счёта, то
                            можете оплатить товар в гривнах на наш счет.
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h6 class="accordion-header" id="flush-headingTwo">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                            Можно ли через вас оплатить товар поставщику?
                        </button>
                    </h6>
                    <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo"
                        data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            Да, мы предоставляем такую услугу, мы можем взять оплату товара в Китае на себя. Если у
                            вас нет валютного счёта, то можете оплатить товар в гривнах на наш счет.
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h6 class="accordion-header" id="flush-headingThree">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapseThree" aria-expanded="false"
                            aria-controls="flush-collapseThree">
                            Можно ли через вас оплатить товар поставщику?
                        </button>
                    </h6>
                    <div id="flush-collapseThree" class="accordion-collapse collapse"
                        aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            Да, мы предоставляем такую услугу, мы можем взять оплату товара в Китае на себя. Если у
                            вас нет валютного счёта, то можете оплатить товар в гривнах на наш счет.
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h6 class="accordion-header" id="flush-headingFour">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapseFour" aria-expanded="false"
                            aria-controls="flush-collapseFour">
                            Можно ли через вас оплатить товар поставщику?
                        </button>
                    </h6>
                    <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour"
                        data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            Да, мы предоставляем такую услугу, мы можем взять оплату товара в Китае на себя. Если у
                            вас нет валютного счёта, то можете оплатить товар в гривнах на наш счет.
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h6 class="accordion-header" id="flush-headingFive">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapseFive" aria-expanded="false"
                            aria-controls="flush-collapseFive">
                            Можно ли через вас оплатить товар поставщику?
                        </button>
                    </h6>
                    <div id="flush-collapseFive" class="accordion-collapse collapse" aria-labelledby="flush-headingFive"
                        data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            Да, мы предоставляем такую услугу, мы можем взять оплату товара в Китае на себя. Если у
                            вас нет валютного счёта, то можете оплатить товар в гривнах на наш счет.
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h6 class="accordion-header" id="flush-headingSix">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapseSix" aria-expanded="false" aria-controls="flush-collapseSix">
                            Можно ли через вас оплатить товар поставщику?
                        </button>
                    </h6>
                    <div id="flush-collapseSix" class="accordion-collapse collapse" aria-labelledby="flush-headingSix"
                        data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            Да, мы предоставляем такую услугу, мы можем взять оплату товара в Китае на себя. Если у
                            вас нет валютного счёта, то можете оплатить товар в гривнах на наш счет.
                        </div>
                    </div>
                </div>
            </div>
            <form class="question-form">
                <h3 class="question-form-title">Остались вопросы?</h3>
                <div class="question-form-discription">
                    Оставьте заявку и наш менеджер ответит вам в ближайшее время
                </div>
                <div class="form-column">
                    <div class="input-box">
                        <input type="text" placeholder="Имя *">
                    </div>
                    <div class="input-box">
                        <input type="tel" placeholder="Телефон *">
                    </div>
                    <div class="input-box">
                        <input type="email" placeholder="E-mail">
                    </div>
                    <div class="input-box">
                        <textarea name="text" placeholder="Ваш вопрос"></textarea>
                    </div>
                </div>
                <button type="button" class="btn">
                    Отправить запрос
                    <img src="assets/img/icon-arrow-left-btn.svg" alt="icon" class="icon">
                </button>
            </form>
        </div>
    </div>
</section>