<section class="acsent services">
    <div class="container">
        <div class="template-title">
            <h2>Услуги</h2>
        </div>
        <div class="slider-container">
            <div class="swiper default-slider" id="services">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="card">
                            <div class="img-box">
                                <img class="img-fluid" src="assets/img/service1.png" alt="">
                            </div>
                            <h4 class="card-title">Выкуп товара</h4>
                            <div class="card-discription">
                                <p>Компания - это полный комплекс логистических услуг по доставке грузов из Китая в
                                    Украину - сборные грузы и цельные
                                    товарные партии, услуги посредника ТаоБао, КАРГО Китай-Украина.</p>
                            </div>
                            <div class="btn-row">
                                <button class="btn btn-outline" type="button">Подробнее</button>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="card">
                            <div class="img-box">
                                <img class="img-fluid" src="assets/img/service2.png" alt="">
                            </div>
                            <h4 class="card-title">Страховка груза</h4>
                            <div class="card-discription">
                                <p>Компания - это полный комплекс логистических услуг по доставке грузов из Китая в
                                    Украину - сборные грузы и цельные
                                    товарные партии, услуги посредника ТаоБао, КАРГО Китай-Украина.</p>
                            </div>
                            <div class="btn-row">
                                <button class="btn btn-outline" type="button">Подробнее</button>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="card">
                            <div class="img-box">
                                <img class="img-fluid" src="assets/img/service3.png" alt="">
                            </div>
                            <h4 class="card-title">Аренда склада</h4>
                            <div class="card-discription">
                                <p>Компания - это полный комплекс логистических услуг по доставке грузов из Китая в
                                    Украину - сборные грузы и цельные
                                    товарные партии, услуги посредника ТаоБао, КАРГО Китай-Украина.</p>
                            </div>
                            <div class="btn-row">
                                <button class="btn btn-outline" type="button">Подробнее</button>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="card">
                            <div class="img-box">
                                <img class="img-fluid" src="assets/img/service4.png" alt="">
                            </div>
                            <h4 class="card-title">Выкуп товара</h4>
                            <div class="card-discription">
                                <p>Компания - это полный комплекс логистических услуг по доставке грузов из Китая в
                                    Украину - сборные грузы и цельные
                                    товарные партии, услуги посредника ТаоБао, КАРГО Китай-Украина.</p>
                            </div>
                            <div class="btn-row">
                                <button class="btn btn-outline" type="button">Подробнее</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="swiper-pagination"></div>
            </div>

            <div class="swiper-button-prev swiper-button-services-prev"></div>
            <div class="swiper-button-next swiper-button-services-next"></div>
        </div>
    </div>
</section>